doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no")
		link(rel='stylesheet', href='/css/admin.css?v=#{_v}')
		link(href="/css/iconfont.css" rel="stylesheet")
		script(src="/js/sys/mobile.js")
		script(src="/js/sys/vue.js")
		script(src="/js/sys/vue-resource.js")
		script(src="https://unpkg.com/axios/dist/axios.min.js")
	body
		.admin-box#app
			.admin-card
				.head-box
					img(src="#{data[0].head_img}")
					.card-info
						h5=data[0].name
						h6=data[0].usertype==1?'管理员':'志愿者'
				ul.todo-info
					li
						a(href='/admin/')
							h5=data[1].usernum
							h6 报名待审核
					li
						a(href='/admin/pair?type=1')
							h5 0
							h6 心动匹配
						i.line
					li
						a(href='/admin/pair?type=2')
							h5=data[2].multinum/2
							h6 互相关注
						i.line
					li
						a(href="/admin/volunteer")
							h5=data[3].volunteernum
							h6 待审志愿者
						i.line

			.admin-web
				block content
			.admin-menu-bottom
				ul
					li
						a(href='/admin/?type=2')
							img(src="/img/user_admin.png")
							label 用户管理
					li
						a(href='/admin/pair?type=1')
							img(src="/img/pair_admin.png")
							label 心动匹配
					li
						a(href='/admin/notice')
							img(src="/img/wechat_admin.png")
							label 微信通知
					li
						a(href='/admin/banner')
							img(src="/img/active_admin.png")
							label 活动通知
					li
						a(href="/admin/volunteer?type=-2&status=2")
							img(src="/img/auth_admin.png")
							label 权限管理
		a.goto_h5(href="/#list") 回到前台
		.alert_msg
			p
		script.
			function _alert(msg,callback,time){
				document.querySelector(".alert_msg p").innerHTML=msg;
				document.querySelector(".alert_msg").style.display='block';
				setTimeout(function(){
				document.querySelector(".alert_msg").style.display='none';
					if(callback)
						callback();
				}, time?time:2000);
			}

